@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap');

.home-wrapper{
  margin: ($base-size * 5)  auto;
  padding: 20px 72px;
  max-width: 750px;
  justify-content: center;
  background-color: $color-light;
  border-radius: $radius;
}


.first-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;

  a {
    display: block;
    position: relative;
    text-align: center;
    color: white; // Choose a text color that stands out against your images
    text-decoration: none;
    padding: 3px;
    justify-content: center;
    &:hover {
      h5 {
        top: 100%;
        opacity: 1;
        transition: opacity 1s, transform 1s ease-in-out;
      }
      .text {
        top: 30%; // Adjust the desired position for the text
      }
    }
  }

  .text {
    position: absolute;
    display: block;
    top: 50%; // Centers vertically
    left: 50%; // Centers horizontally
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    padding-top: 50px;
    transition: top 0.5s ease-in-out; // Add transition property for smooth animation
  }

  img {
    height: 125px;
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
  }

  .text h1 {
    font-family: $font-header;
    font-size: 25px;
    position: relative;
    text-align: center;
    margin: 0;
  }

  .text h5 {
    opacity: 0;
    white-space: nowrap;
    text-align: center;
  }
  
}

.opening-hours{
  text-align: center;
  border-radius: $radius;
  width: 605px;
  height: 125px;
  background-color: $color-main;
  padding-top: 12px;
  color: white;
  h1{
    font-family: $font-header;
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
  }
  h4{
    font-weight: lighter;
    margin: 0;
  }
}
.main-carousel{
  margin-top: 20px;
  padding-top: 100px;
}
.carousel-cell{
  display: block;
}
.carousel-cell img{
  height: 250px;
  width: 250px;
  padding: 0;
  border-radius: 5px;
  object-fit: cover;
}

.carousel-cell .text2{
  right: 50%;
}

.carousel-cell-image {
  position: relative;
  display: block;
  max-height: 100%;
  margin: 0;
  max-width: 100%;
  
}
